#company-info {
    display: flex;
    justify-content: center;
}

.col-1 {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.col-2 {
    display: flex;
    flex-direction: column;
}

.error {
    color: red;
}